@import "../../global/Variables.css";

#grid-container {
    height: 100dvh;
    display: grid;
    grid-template-areas:
        "nav-bar        nav-bar"
        "side-bar       main-section"
        "footer-player  footer-player";
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto 1fr auto;
}

#nav-bar{
    grid-area: nav-bar;
    padding: 2em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--color-nav-bar);
    gap: 3em;
}

#side-bar{
    grid-area: side-bar;
    /*background-color: cornflowerblue;*/
    border-right: 3px solid var(--color-footer);
    overflow-y: scroll;
    scrollbar-width: none;
}

#main-section{
    grid-area: main-section;
    background-color: var(--color-background);
    overflow-y: auto;
}

#footer-player{
    grid-area: footer-player;
    padding: 3em;
    background-color: darkseagreen;
}

@media (max-width: 1000px) {
    #grid-container {
        grid-template-areas:
            "nav-bar"
            "main-section"
            "footer-player";
        grid-template-columns: 1fr;
    }

    #side-bar{
        position: fixed;
        transition: all 0.3s ease-in-out;
        width: 400px;
        height: 100dvh;
        left: -420px;
        z-index: 1000;
    }

    .show{
        left: 0 !important;
    }
}

@media (max-width: 700px) {
    #print-list-line-number{
        display: none;
    }

    #print-list-duration{
        padding-right: 0.4rem;
        padding-left: 0.4rem;
    }
}

#print-list-duration{
    transition: 0.2s;
}

/*----------------*/

