#playlist-page-container{
    display: flex;
    flex-direction: column;
}

#playlist-header{
    display: grid;
    grid-template-areas:
        'image      name'
        'image      description'
        'options    options';
    grid-template-columns: 300px 1fr;
    grid-template-rows: repeat(2, 150px) auto;
    background-color: var(--color-side-bar);
    padding: 2rem;
}

#playlist-name{
    grid-area: name;
    font-size: 3rem;
    padding-left: 4rem;
    color: var(--color-text);
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    line-height: 3.5rem;
    max-height: calc(3.5rem * 2);
}

#playlist-image{
    grid-area: image;
    background-color: transparent;
}

#playlist-description{
    grid-area: description;
    padding-left: 4rem;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    font-size: 1.3rem;
    color: var(--color-text);
    overflow: hidden;
}

#playlist-description-text{
    text-overflow: ellipsis;
    white-space: normal;
    word-break: break-word;
    line-height: 1.3rem;
    max-height: calc(1.3rem * 3);
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

#playlist-options{
    grid-area: options;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    padding-top: 2rem;
}

#playlist-content{
    padding: 1.5rem;
}

#playlist-description hr {
    margin: 15px 0 15px 0;
    border-color: var(--color-side-bar-list);
}

@media (max-width: 1000px) {
    #playlist-header{
        display: grid;
        gap: 1rem;
        grid-template-areas:
            'image          image'
            'name           name'
            'description    options';
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 300px auto auto;
        padding-bottom: 1rem;
    }

    #playlist-image{
        margin: auto;
        padding-top: 0;
    }

    #playlist-name, #playlist-description{
        padding-left: 0;
        justify-content: center;
    }

    #playlist-options{
        flex-direction: row-reverse;
        padding-top: 0;
    }

    #playlist-description{
        justify-content: center;
    }
}