@import "../../global/Variables.css";

#search-results-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 1.5rem;
}

.search-results-field {
    /*background-color: var(--color-side-bar)*/;
}