@import "../global/Variables.css";

#grid-container {
    height: 100dvh;
    display: grid;
    grid-template-areas:
        "nav-bar        nav-bar"
        "side-bar       main-section"
        "footer-player  footer-player";
    grid-template-columns: 400px 1fr;
    grid-template-rows: auto 1fr auto;
}

#nav-bar{
    grid-area: nav-bar;
    padding: 2em;
}

#side-bar{
    grid-area: side-bar;
    background-color: cornflowerblue;
    border-right: 3px solid var(--color-footer);
}

#main-section{
    grid-area: main-section;
    background-color: beige;
}

#footer-player{
    grid-area: footer-player;
    padding: 3em;
    background-color: darkseagreen;
}

@media (max-width: 1000px) {
    #grid-container {
        grid-template-areas:
            "nav-bar"
            "main-section"
            "footer-player";
        grid-template-columns: 1fr;
    }

    #side-bar{
        position: fixed;
        transition: all 1s ease-in-out;
        width: 400px;
        height: 100dvh;
        left: -400px;
    }

    .show{
        left: 0 !important;
    }
}
